.main-content {
    margin-left: 250px;
    padding: 25px;
    background: #f7f9fc;
    min-height: 100vh;
}

.card {
    border-radius: 15px;
}

.form-label {
    font-weight: 600;
}

.form-control,
.form-select {
    border-radius: 8px;
    padding: 11px 12px;
}

.form-control:focus,
.form-select:focus {
    border-color: #198754;
    box-shadow: 0 0 5px rgba(25, 135, 84, .2);
}

.btn {
    border-radius: 8px;
}