*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    margin-bottom: 8px;
    font-weight:  700;
}
.container{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 1150px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
p{
    padding: 5px 0;
    font-size: 15px;
}
.left{
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 35px;
    border-radius: 15px;
    width: 450px;
}
input[type="email"],input[type="password"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}
input[type="checkbox"]{
    width: auto;
    padding: 0;;
}
.right img{
    width: 520px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: rgb(62, 139, 62);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #256628;
}
button:active{
    transform: scale(0.98);
}
#or{
    text-align: center;
    font-size: 10px;
    color: #666;
    margin: 15px 0;
}
.check{
    display: flex;
    align-items: center;
    gap: 5px;
}
.stext{
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
}
#sign{
    text-decoration: none;
    color: rgba(32, 192, 32, 0.84);
    font-weight: 600;
    margin-left: 5px;
    display: inline;
}
#sign:hover{
    text-decoration: underline;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}
.social-icons a{
    font-size: 30px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.fa-google{
    color: #DB4437;
}
.fa-facebook-f{
    color: #1877F2;
}
.fa-apple{
    color: black;
}
label{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px;
}
.error{
    color: red;
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
}