.parking-circle{
    width:180px;
    height:180px;
    border:12px solid #198754;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    font-size:32px;
    font-weight:bold;
    color:#198754;
}

.status-dot{
    width:12px;
    height:12px;
    border-radius:50%;
    display:inline-block;
    flex-shrink:0;
}
.main-content{
    margin-left: 250px;
    padding: 20px;
}



/* body{
    background:red !important;
} */