.main-content{
    margin-left:250px;
    padding:25px;
    background:#f7f9fc;
    min-height:100vh;
}

.card{
    max-width:700px;
    margin:auto;
    border-radius:20px;
}

.btn{
    min-width:180px;
    border-radius:10px;
}