.main-content{
    margin-left:250px;
    padding:25px;
    background:#f7f9fc;
    min-height:100vh;
}

.card{
    border-radius:15px;
}

.form-control,
.form-select{
    border-radius:10px;
}

.btn-success{
    border-radius:10px;
    padding:10px;
}